.home-tab-container {
  display: flex;
  align-items: center;
}
.dark-sidebar-items {
  font-size: 20px;
  margin-left: 20px;
  font-weight: 600;
}
.light-sidebar-items {
  color: #ffffff;
  font-size: 20px;
  margin-left: 20px;
  font-weight: 600;
}
.contact-us-container {
  display: flex;
  flex-direction: column;
}
.social-icons {
  height: 40px;
  width: 40px;
  margin: 5px;
}
.light-contact-us-heading {
  font-size: 26px;
  color: #1e293b;
}
.dark-contact-us-heading {
  font-size: 26px;
  color: #ffffff;
}
.sidebar-icons {
  color: #909090;
  height: 20px;
  width: 20px;
}
.light-sidebar-description {
  color: #1e293b;
  font-size: 20px;
}
.dark-sidebar-description {
  color: #ffffff;
  font-size: 20px;
}
.link {
  text-decoration: none;
  color: #000000;
}
