.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 10px;
  width: 25%;
}
.home-tab-container {
  display: flex;
  align-items: center;
}
.sidebar-items {
  font-size: 16px;
  margin-left: 20px;
}
.contact-us-container {
  display: flex;
  flex-direction: column;
}
.social-icons {
  height: 40px;
  width: 40px;
  margin: 5px;
}
.contact-us-heading {
  font-size: 20px;
  color: #1e293b;
}
.sidebar-description {
}
.link {
  text-decoration: none;
  color: #000000;
}
