.website-logo-container {
  text-align: center;
  margin-bottom: 30px;
}
.website-logo {
  height: 40px;
  width: 150px;
}
.username-container {
  margin-bottom: 20px;
}
.username-label {
  color: #475569;
  font-weight: 600;
}
.password-container {
  margin-bottom: 10px;
}
.password-label {
  color: #475569;
  font-weight: 600;
}
.login-password-input {
  width: 100%;
  height: 42px;
  border: 1px solid #94a3b8;
  padding: 10px;
  outline: none;
  border-radius: 3px;
  margin-top: 3px;
}
.show-password-container {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
